name: hashdeep
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v4
    - name: Setup MinGW
      uses: egor-tensin/setup-mingw@v2
    - name: Build
      run: |
        sudo chmod -R 777 ./
        sh bootstrap.sh
        ./configure
        make
        sudo make install
    - uses: actions/upload-artifact@v4
      with:
        name: hashdeep
        path: |
          /usr/local/bin
